body {
    font-family: "Poppins", sans-serif; 
}

@media screen and (max-width: 767px) {
    .body {
        width: 100%;
        flex-direction: column;

    }
}

/* Estilize a barra de navegação */

.navbar {
    width: 1208px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 3px solid black;
}


/* Estilize a lista de itens de navegação */
.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

/* Estilize cada item de navegaç-ão */
.navbar-item {
    font-family: "Poppins", sans-serif;
    font-size: 19.5px;
    display: flex;
    align-items: center;
}

/* Estilize o logo */
.navbar-item.logo img {
    height: 60px;
    width: 60;
    margin-right: 20px;
}

/* Estilize o número de telefone */
.navbar-item.phone img {
    height: 24px;
    margin-left: 60px;

}

.navbar-item.phone {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-item a {
    text-decoration: none;
    color: black;
}

.navbar-item a:hover {
    text-decoration: underline;
}

.navbar-item.donate button {
    background-color: #FF3D9A;
    border: none;
    width: fit-content;
    height: 64px;
    padding: 16px 32px;
    border-radius: 32px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.navbar-item.donate img {
    width: 25.81px;
    height: 23.14px;
    top: 5.07;
    left: 3.09;
    margin-right: 10px;
}

.navbar-item.donate button {
    background-color: #FF3D9A
}

/* DONATE_MODAL*/

.Donate_Modal {
    width: 448px;
    height: 686px;
    position: fixed;
    padding: 32px;
    border-radius: 32px;
    background-color: #ffffff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    top: 10%;
    left: 50%;
    margin-left: -243px;
}

.custom-modal-enter {
    animation: slideInRight 0.3s ease forwards;
  }
  
  .custom-modal-exit {
    animation: slideOutLeft 0.3s ease forwards;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(150%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(150%);
    }
  }



.form_donate {
    width: 416px;
    height: auto;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.Wrap {
    width: 384px;
    height: 86px;
    gap: 4px;
}

.Title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -0.02em;
    text-align: center;
    margin: 0;
}

.Main_form {
    width: 384px;
    height: 488px;
    gap: 24px;
}

.email p {
    width: 384px;
    gap: 8px;
}

.Form_email,
.Form_money {
    width: 384px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #3F96FC;
    gap: 10px;
    padding-left: 24px;
    padding-top: 15px;
    background-color: transparent;
}

.Form_money {
    text-align: end;
}

#Adopt_Button {
    width: 384px;
}

input[type="text"] {
    border: none;
    background: transparent;
    flex: 1;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: Inter;
}


input[type="money"] {
    border: none;
    background: transparent;
    flex: 1;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: Inter;
    text-align: end;
    padding-right: 6%;

}

.Form_email input[type="text"]::placeholder,
.Form_money input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.801);
}

/* Estilos para o elemento <p> dentro de .email */
.email p,
.Name p,
.Date_of_birth p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF3D9A;
}

.blue-text {
    color: #3F96FC;
}

.button-container {
    width: 416px;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding-top: 8px;
}

.donate-wrap-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
    gap: 8px;
    width: 416px;
    height: 80px;
}

.layout-button {
    width: 133.33px;
    height: 30px;
}

.second-layout-button {
    width: 133.33px;
    height: 60px;
}

.layout-button,
.second-layout-button,
.third-layout-button {
    border-radius: 8px;
    border: 1px solid var(--blue-light, #3F96FC);
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}

.circular-radio {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    background-color: black;
    color: white;
}

.circular-radio:checked::before {
    content: "\2713";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ff3d9a;
}

.button-heart-wanna {
    display: flex;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: var(--pink, #FF3D9A);
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.button-heart-wanna img {
    width: 25px;
    height: 23px;
}

.button-cancel {
    margin-top: -5%;
    display: flex;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: var(--gray-dark, #37383F);
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.button-cancel img {
    width: 12px;
    height: 22px;
}


/*SUCESS PAG*/
.main_screen {
    width: 100%;
    background: #1E1F27;
}


.main_content {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
}

@media screen and (max-width: 767px) {
    .main_content {
        width: 100%;
        height: 100%;
      flex-direction: column;
    
    }
  }

.info_block {
    display: flex;
    width: 1208px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    margin: 0 auto;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .info_block {
        width: 100%;
      flex-direction: column;
    }
  }


.buttons {
    display: flex;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.buttons button {
    width: 170px;
    height: 64px;
    padding: 24px 32px 24px 34px;
    border-radius: 32px;
    gap: 8px;
    color: white;
    background: #37383F;
    border: 2px solid transparent;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.buttons img {
    width: 12px;
    height: 22px;
    margin-right: 8px;
}

.text_block {
    color: var(--black, #ffffff);
    font-feature-settings: 'ss06' on, 'ss05' on, 'ss04' on, 'ss03' on, 'ss02' on;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.28px;
    text-align: center; /* Center the text horizontally */
    position: absolute; /* Position the element absolutely */
    top: 20%; /* Move it down by 50% of its own height */
    left: 52%; /* Move it right by 50% of its own width */
    transform: translate(-50%, -50%); /* Center it both horizontally and vertically */
}

@media screen and (max-width: 767px) {
    .text_block {
    width: 100%;
      flex-direction: column;
      text-align: left; /* Center the text horizontally */
      position: fixed; /* Position the element absolutely */
      top: 7%; /* Move it down by 50% of its own height */
      left: 1%; /* Move it right by 50% of its own width */
      transform: translate(0%, 0%); /* Center it both horizontally and vertically */
      
    }
  }

.content_block_sucess {
    width: 1208px;
    display: flex;
    align-items: left;
}

.image_block {
    flex: 1;
}

.Text_block {
    flex: 1;

}

.Text_block h1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.02em;
    text-align: center;
    color: white;
}

.Text_block p {
    width: 100%;
    font-family: Poppins;
    font-size: 25px;
    line-height: 51px;
    letter-spacing: -0.02em;
    text-align: left;
    color: white;
}

.yellow-text {
    color: #F8DB46;
}

.adopt_block_main {
    width: 1308px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 21%;
}

@media screen and (max-width: 767px) {
    .adopt_block_main {
        width: 100%;
      flex-direction: column;
    
    }
  }


.Text_Block_adopt {
    width: 1208px;
    gap: 10%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .Text_Block_adopt {
        width: 100%;
      flex-direction: column;
    
    }
  }


.Text_h2 {
    width: 1, 208px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media screen and (max-width: 767px) {
    .Text_h2 {
        width: 100%;
      flex-direction: column;
      height: 110px;
      margin-top: 25%;
    
    }
  }


.Text_h2 h1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.02em;
    text-align: center;
}

.yellow-text {
    color: #F8DB46;
}

.CTA_Text {
    margin-top: 60px;
}

.CTA_Text h3 {
    width: 100%;
    font-family: Poppins;
    font-size: 30px;
    line-height: 51px;
    letter-spacing: -0.02em;
    text-align: center;
    color: white;
}

.Buttom_Group {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

@media screen and (max-width: 767px) {
    .Buttom_Group {
        width: 100%;
      flex-direction: column;
      align-items: center;    
    }
  }

  @media screen and (max-width: 767px) {
    .Apply_to_Adopt_Button {
        padding-top: 20px;
        margin-left: -20px;
    }
  }

.Cat_img img {
    width: 300px;
    height: 400px;
}


.Dog_img img {
    width: 300px;
    height: 400px;
}

@media screen and (max-width: 767px) {
    .Dog_img {
        width: 100%;
      flex-direction: column;
      margin-top: 30%;
      margin-left: 20%;
    
    }
  }

.view_Adoptables_Button button {
    width: 238px;
    height: 64px;
    padding: 16px 32px;
    border-radius: 32px;
    gap: 8px;
    background: #F8DB46;
    color: black;
    border: 2px solid transparent;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
}


.view_Adoptables_Button button:hover {
    border-color: black;
}

.Apply_to_Adopt_Button button {
    width: 223px;
    height: 64px;
    padding: 16px 32px;
    border-radius: 32px;
    gap: 8px;
    background: transparent;
    color: white;
    border: 2px solid #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}

.Apply_to_Adopt_Button button:hover {
    background: white;
    color: black;
}


/*FOOTER*/
.footer_text_end {
    width: 100%;
    display: flex;

}

.Main_Footer {
    width: 1208%;
    height: 443px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.Links_Block {
    width: 1208px;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    border-bottom: 3px solid black;
    margin-top: -20px;
}

.logo_nav img {
    width: 272px;
    height: 272px;
    gap: 19px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.Links_Row_1 p,
.Links_Row_2 p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.contacts {
    width: 272px;
    height: 232px;
    gap: 24px;
}

.Address,
.Phone,
.Mail {
    display: flex;
}

.Info p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin-top: 30px;
}

.Sub_Address p {
    line-height: 5px;
}

.Address img {
    width: 14px;
    height: 20px;
    position: relative;
    top: 20px;
    margin-right: 10px;
}

.Phone img {
    width: 18px;
    height: 18px;
    position: relative;
    top: 36px;
    margin-right: 10px;
}

.Mail img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 35px;
    margin-right: 10px;
}

.Socials img {
    width: 32px;
    height: 32px;
    padding: 2px;
}

.Text_end {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: -0.02em;
    text-align: center;

}

.Text_end {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: -0.02em;
    text-align: center;
}

.part1 {
    color: #1E1F27;
}

.part2 {
    color: #FF3D9A;
}